body {
	margin: 0;
	font-family: "Arial";
}

.content2 {
	/** background-color: #f7f7f7; **/
	background-color: #f7f7f7;
    height: 650px;
    padding-bottom: 80px;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
  text-align: center;
}

.heading h3 {
	font-weight: normal;
}

.heading span {
	color: #ffa500;
	font-weight: bold;
}

.lesson-wrapper {
  text-align: center;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
	position: relative;
	margin: 40px;
}

.lesson-icon p {
	text-align: center;
	font-weight: bold;
}

.btn {
  margin-top: 100px;
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #ffa500;
  cursor: pointer;
  box-shadow: 0 7px #d2691e;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


